@charset "UTF-8";

/* 以下レスポンシブルデザイン */

/* スマートフォン向けのスタイル（画面幅が 767px 以下の場合に使用） */
@media screen and (max-width: 767px) {
	body {
		font-size: 14px; /* 全体的なフォントサイズを小さく設定 */
	}
	
	h1 {
		font-size: 1.5em; /* 見出しのフォントサイズを調整 */
	}
	
	.form-input {
		font-size: 1.2em; /* 文字サイズを大きくする（1．2倍）*/
		padding: 10px; /* 内側の余白を大きくする */
		height: auto; /* 高さを自動設定 */
		line-height: 1.5; /* 行の高さ */
	}
	
	/* ボタンのグループ */
	
	button {
		font-size: 12px; /* スマートフォンで文字サイズを小さく */
		padding: 8px 15px; /* スマートフォンで余白を小さく */
		margin-top: 8px; /* 必要に応じてマージンを調整 */
		margin-right: 8px; /* 必要に応じてマージンを調整 */
	}
	
	.button-group {
		display: flex; /* FlexBox レイアウトを有効にする */
		flex-direction: row; /* ボタンを横並びにする */
		align-items: center; /* 垂直方向中央揃え */
		overflow-x: auto; /* ボタンが画面幅に収まらない場合は横スクロールを許可 */
		white-space: nowrap; /* ボタンが改行しないように設定 */
	}
	
	.button-group button {
		font-size: 12px; /* ボタンの文字サイズを調整 */
		margin-right: 5px; /* ボタン間の横マージンを調整 */
		margin-bottom: 0; /* 縦方向のマージンを削除 */
		border: 1px solid #ccc; /* 共通の枠線を再指定 */
	}
	
	.button-group button:last-child {
		border-right: 0;
		border: 1px solid #ccc; /* 共通の枠線を再指定 */
	}
	
	.search-button {
		margin-top: 5px;
		padding: 8px 15px;
		font-size: 12px;
	}
	
	#add-actor-button {
		padding: 8px 15px;
		font-size: 12px;
	}
}

/* タブレット向けのスタイル（画面幅が 768px 以上 991px 以下の場合に適用） */
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 16px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	.scrollabel-table-container {
		max-height: 400px;
		margin-top: 0.8em;
	}
	
	.scrollabel-table-container th,
	.scrollabel-table-container td {
		padding: 7px;
		font-size: 0.95em;
	}
	/*
	.button-group {
		タブレット端末では横並びを維持
	}*/
}